# backend/.env.example
PORT=3001
AUTH_SECRET=change-me-in-production

# Render PostgreSQL Database Connection URLs
DATABASE_URL=postgresql://root:vdoDH7q3cflXYnb8qqlzGwlXnBwkhaEm@dpg-d9p0a1favr4c73ac5co0-a.oregon-postgres.render.com/postgres_db_gxm3
INTERNAL_DATABASE_URL=postgresql://root:vdoDH7q3cflXYnb8qqlzGwlXnBwkhaEm@dpg-d9p0a1favr4c73ac5co0-a/postgres_db_gxm3
